.app {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.loader {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25px;
	height: 25px;
	border: 5px solid gray;
	border-radius: 50%;
	border-left-color: transparent;
	animation: loader 1s infinite;
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

input {
	width: 100%;
	max-width: 400px;
	padding: 10px;
	margin-bottom: 15px;
	font-size: 16px;
	border: 2px solid #ddd;
	border-radius: 8px;
	outline: none;
	transition: all 0.3s ease;
}

input:focus {
	border-color: #007bff;
	box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

input::placeholder {
	color: #aaa;
	font-style: italic;
}

.todoList {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 20px;
	align-items: center;
}

.todo {
	display: flex;
	justify-content: space-between;
	width: 60%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 8px;
	background-color: #f9f9f9;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

button {
	padding: 10px 15px;
	margin: 5px;
	border: none;
	border-radius: 5px;
	background-color: #007bff;
	color: white;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button:disabled {
	background-color: #ccc;
	cursor: not-allowed;
}

button:hover:not(:disabled) {
	background-color: #0056b3;
}
